server:
  port: 1111
spring:
  datasource:
    password: library
    url: jdbc:postgresql://localhost:5435/library
    username: library
  jpa:
    properties:
      hibernate:
        generate_statistics: false
        format_sql: false
        enable_lazy_load_no_trans: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true
    hibernate:
      ddl-auto: update
---
springdoc:
  swagger-ui:
    path: swagger-ui.html
