server:
  port: 1111
spring:
  datasource:
    password: library
    url: jdbc:postgresql://localhost:5435/library
    username: library
  jpa:
    properties:
      hibernate:
        generate_statistics: false
        format_sql: false
        enable_lazy_load_no_trans: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true
    hibernate:
      ddl-auto: create
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:5001/auth/realms/library/protocol/openid-connect/certs
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:5001/auth/realms/library
            user-name-attribute: preferred_username
        registration:
          keycloak:
            authorization-grant-type: authorization_code
            client-id: library
            client-secret: 92TXNy7XmNRNxQkSKCLq3UJfHLVQngEB
            scope: openid
        resourceserver:
          jwt:
            issuer-uri: http://localhost:5001/auth/realms/library
            opaque:
              introspection-uri: http://localhost:5001/auth/realms/library/protocol/openid-connect/token/introspect



---
springdoc:
  swagger-ui:
    path: swagger-ui.html
